// Place all the styles related to the pages controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
$primary: #504FBE;
$second: #09E1C0;
$white: #FFFFFF;

body {
  font-family: 'Open Sans', sans-serif !important;
}

h1 {
  font-size: 42px;
  font-weight: 700;
}

section#main-content, section.content {
  margin-top: 100px;
}

.top-header {
  background: $primary;
  height: 4em;
  li {
    display: inline;
    list-style: none;
  }
  li span {
    padding: 0 20px 0 0;
    color: $white;
    font-size: .8em;
    font-weight: bold;
  }
  .svg-inline--fa.fa-w-16, .svg-inline--fa.fa-w-12 {
    margin-right: 5px;
  }
  .navbar {
    padding: 0 50px;
  }
  .navbar-item img {
   max-height: 6rem;
  }
}


section.home {

  background: linear-gradient(180deg,#474ab6 0%,#9271f6 100%)!important;
  background-repeat:no-repeat ;

}

